{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["*.json"],
  "plugins": ["@typescript-eslint", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/eslint-recommended",
    /*"plugin:@typescript-eslint/recommended", */
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off", //this shieeeeeet.......
    "no-unused-vars": "warn",
    "no-console": "warn" // Remember, this means error!
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
